<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add A Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="createBurger">Enter A Burger Name</label><br>

  </div>

  <button type="submit">Add Burger</button>
</form>
