li {
  padding: 5px;
  margin: 5px;
  background: red;
  color: whitesmoke;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.pseudo-header {
 text-align: center; 
}

#container {
  background-color: whitesmoke;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

.change-burger {
  color: rgb(49, 49, 49);
}