li {
  padding: 5px;
  margin: 5px;
  background: rgb(218, 218, 218);
  color: black;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.pseudo-header {
 text-align: center; 
}

#container {
  background-color: whitesmoke;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

.change-burger {
  color: rgb(49, 49, 49);
}

.jumbotron {
  background-image: url(https://images.immediate.co.uk/production/volatile/sites/2/2015/08/12812.jpg?quality=90&resize=960%2C408);
  display: inline-block;
  margin: 30px;
  padding: 15px;
  color: whitesmoke;
  font: -apple-system-title4;
  border-radius: 25px;
}
.funkyColeMedina{
  color: black;
}

